* {
  box-sizing: border-box;
}
body {
margin: 0;
}
.container {
  margin-top: 40px;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 650px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.icon_item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00689F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet:hover {
  border-color: #FFFFFF;
  box-shadow: 0 0 30px #00689F;
  background-color: #FFFFFF;
  border: 1px solid #00689F;
  color: #00689F;
}
.settings:hover {
  border-color: #FFFFFF;
  box-shadow: 0 0 30px #00689F;
  background-color: #FFFFFF;
  border: 1px solid #00689F;
  color: #00689F;
}
.dashboard:hover {
  border-color: #FFFFFF;
  box-shadow: 0 0 30px #00689F;
  background-color: #FFFFFF;
  border: 1px solid #00689F;
}
